body {
    background: rgba(0, 0, 0, 0.94);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/*
CSS Brian Daniel Cortes Guzman 

Boton neon color rojo
*/
.Boton-Neon-Rojo {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;
}

.Boton-Neon-Rojo:hover {
    background: rgba(204, 49, 88, 0.784);
    box-shadow: 0 0 10px rgb(198, 44, 44), 0 0 40px rgb(198, 44, 44), 0 0 80px rgb(198, 44, 44);
    transition-delay: 1s;
}

.Boton-Neon-Rojo span {
    position: absolute;
    display: block;
}

.Boton-Neon-Rojo span:nth-child(1) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(204, 49, 88, 0.784));
}

.Boton-Neon-Rojo:hover span:nth-child(1) {
    right: 100%;
    transition: 1s;
}

.Boton-Neon-Rojo span:nth-child(2) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(204, 49, 88, 0.784));
}

.Boton-Neon-Rojo:hover span:nth-child(2) {
    left: 100%;
    transition: 1s;
}

/*
Boton neon color Azul
*/


.Boton-Neon-Azul {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;

}

.Boton-Neon-Azul:hover {
    background: rgba(50, 134, 223, 0.868);
    box-shadow: 0 0 10px rgb(31, 158, 212), 0 0 40px rgb(31, 158, 212), 0 0 80px rgb(31, 158, 212);
    transition-delay: 1s;
}

.Boton-Neon-Azul span {
    position: absolute;
    display: block;
}

.Boton-Neon-Azul span:nth-child(1) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(50, 134, 223, 0.868));
}

.Boton-Neon-Azul:hover span:nth-child(1) {
    right: 100%;
    transition: 1s;
}

.Boton-Neon-Azul span:nth-child(2) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(50, 134, 223, 0.868));
}

.Boton-Neon-Azul:hover span:nth-child(2) {
    left: 100%;
    transition: 1s;
}


/*
Boton neon color Verde
*/


.Boton-Neon-Verde {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;

}

.Boton-Neon-Verde:hover {
    background: rgba(34, 238, 30, 0.912);
    box-shadow: 0 0 10px rgb(31, 212, 61), 0 0 40px rgb(31, 212, 61), 0 0 80px rgb(31, 212, 61);
    transition-delay: 1s;
}

.Boton-Neon-Verde span {
    position: absolute;
    display: block;
}

.Boton-Neon-Verde span:nth-child(1) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(34, 238, 30, 0.912));
}

.Boton-Neon-Verde:hover span:nth-child(1) {
    right: 100%;
    transition: 1s;
}

.Boton-Neon-Verde span:nth-child(2) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(50deg, transparent, rgba(34, 238, 30, 0.912));
}

.Boton-Neon-Verde:hover span:nth-child(2) {
    left: 100%;
    transition: 1s;
}

/*
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------
----------------------------------------------------------------------------------
*/

/*
Boton neon 2 color rojo
*/
.Boton-Neon-Rojo-2 {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;
}

.Boton-Neon-Rojo-2:hover {
    background: rgba(204, 49, 88, 0.784);
    box-shadow: 0 0 10px rgb(198, 44, 44), 0 0 40px rgb(198, 44, 44), 0 0 80px rgb(198, 44, 44);
    transition-delay: 1s;
}

.Boton-Neon-Rojo-2 span {
    position: absolute;
    display: block;
}

#rojo2-1 {
    top: 0;
    right: -100%;
    width: 100%;
    height: 50px;
    background: linear-gradient(5deg, transparent, rgba(204, 49, 88, 0.784));
}

.Boton-Neon-Rojo-2:hover #rojo2-1 {
    right: 100%;
    transition: 0.8s;
}

/*
Boton neon color Azul
*/


.Boton-Neon-Azul-2 {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;

}

.Boton-Neon-Azul-2:hover {
    background: rgba(50, 134, 223, 0.868);
    box-shadow: 0 0 10px rgb(31, 158, 212), 0 0 40px rgb(31, 158, 212), 0 0 80px rgb(31, 158, 212);
    transition-delay: 1s;
}

.Boton-Neon-Azul-2 span {
    position: absolute;
    display: block;
}

#azul2-1 {
    top: 0;
    right: -100%;
    width: 100%;
    height: 50px;
    background: linear-gradient(50deg, transparent, rgba(50, 134, 223, 0.868));
}

.Boton-Neon-Azul-2:hover #azul2-1 {
    right: 100%;
    transition: 1s;
}

/*
Boton neon color Verde
*/


.Boton-Neon-Verde-2 {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    letter-spacing: 5px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    transition: 0.02s;

}

.Boton-Neon-Verde-2:hover {
    background: rgba(34, 238, 30, 0.912);
    box-shadow: 0 0 10px rgb(31, 212, 61), 0 0 40px rgb(31, 212, 61), 0 0 80px rgb(31, 212, 61);
    transition-delay: 1s;
}

.Boton-Neon-Verde-2 span {
    position: absolute;
    display: block;
}

#verde2-1 {
    top: 0;
    right: -100%;
    width: 100%;
    height: 50px;
    background: linear-gradient(50deg, transparent, rgba(34, 238, 30, 0.912));
}

.Boton-Neon-Verde-2:hover #verde2-1 {
    right: 100%;
    transition: 1s;
}

/*
Botones Que dan vueltas 
*/
.boton {
    text-decoration: none;
    text-transform: uppercase;/*Quitar si no quieren todas las letras en mayusculas */
    font-size: 200%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.boton span {
    padding: 20px;
    position: relative;
    
    line-height: 20px;
}

.boton span:nth-child(1),
:nth-child(2),
:nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(6),
:nth-child(7),
:nth-child(8),
:nth-child(9),
:nth-child(10) {
    color: #fff;

}

.boton span:nth-child(1):before,
.boton span:nth-child(3):before,
.boton span:nth-child(5):before,
.boton span:nth-child(7):before,
.boton span:nth-child(9):before {
    content: attr(data-antes);
    position: absolute;
    top: 0;
    left: 0;
    background: #5b36ff;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
}

.boton span:nth-child(1):after,
.boton span:nth-child(3):after,
.boton span:nth-child(5):after,
.boton span:nth-child(7):after,
.boton span:nth-child(9):after {
    content: attr(data-despues);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
}

.boton span:nth-child(2):before,
.boton span:nth-child(4):before,
.boton span:nth-child(6):before,
.boton span:nth-child(8):before,
.boton span:nth-child(10):before {
    content: attr(data-antes);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}

.boton span:nth-child(2):after,
.boton span:nth-child(4):after,
.boton span:nth-child(6):after,
.boton span:nth-child(8):after,
.boton span:nth-child(10):after {
    content: attr(data-despues);
    position: absolute;
    top: 0;
    left: 0;
    background: #5b36ff;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
}

.boton:hover span:nth-child(1):before,
.boton:hover span:nth-child(2):before,
.boton:hover span:nth-child(3):before,
.boton:hover span:nth-child(4):before,
.boton:hover span:nth-child(5):before,
.boton:hover span:nth-child(6):before,
.boton:hover span:nth-child(7):before,
.boton:hover span:nth-child(8):before,
.boton:hover span:nth-child(9):before,
.boton:hover span:nth-child(10):before {
    transform: rotateX(0deg) translateY(0%);
}

.boton:hover span:nth-child(1):after,
.boton:hover span:nth-child(3):after,
.boton:hover span:nth-child(5):after,
.boton:hover span:nth-child(7):after,
.boton:hover span:nth-child(9):after {
    transform: rotateX(90deg) translateY(50%);
}

.boton:hover span:nth-child(2):after,
.boton:hover span:nth-child(4):after,
.boton:hover span:nth-child(6):after,
.boton:hover span:nth-child(8):after,
.boton:hover span:nth-child(10):after {
    transform: rotateX(90deg) translateY(-50%);
}





/*
Colores de texto
*/
.text-color-blanco {
    color: aliceblue;
}

.text-color-negro {
    color: rgb(0, 8, 14);
}

.text-color-azul {
    color: rgb(9, 138, 250);
}

.text-color-amarillo {
    color: rgb(255, 251, 34);
}

.text-color-rojo {
    color: rgb(253, 18, 18);
}

.text-color-verde {
    color: rgb(38, 238, 78);
}

/*
Tammaño del textp
*/
.text-20 {
    font-size: 20;
}

.text-21 {
    font-size: 21px;
}

/*
Contenedores
*/
.Contenedor {
    margin: auto;
    padding: 30px;
    text-align: center;
    width: 80%;
}
.alturaespacio{
    line-height: 60px;
}